.version.game /* version checker */
{
	color: #000009;
	background-color: #89974B;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}
div {
    display: block;
}


#page
{
	z-index: 1;
	width: 100%;
	height: 100%;
	background-image: none;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 100px;
	margin-left: auto;
	margin-right: auto;
}

#pu947
{
	z-index: 2;
	width: 0.01px;
	margin-right: -10000px;
	margin-top: -41px;
	margin-left: -100px;
}

#u947
{
	z-index: 2;
	min-height: 700px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

.js body
{
	visibility: visible;
}

.js body.initialized
{
	visibility: visible;
}

#u947-bw
{
	z-index: 2;
	min-height: 700px;
}
.col-side
{
	width:  20% !important;
}
.col-center
{
	width: 60%;
}
#u192
{
	z-index: 3;
	width: 202px;
	height: 15%;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-bottom: 22px;
	float: right;
	/* margin-right: -10000px; */
	position: relative;
	margin-top: 47px;
	left: 887px; 
	background: transparent url("../images/counter.png?crc=208525079") no-repeat center center;
	background-size: contain;
}

#u499-4
{
	z-index: 155;
	width: 180px;
	min-height: 26px;
	background-color: transparent;
	font-size: 20px;
	line-height: 24px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 26px;
}

#u289
{
	z-index: 4;
	width: 162px;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-bottom: 17px;
	position: relative;
	margin-right: -10000px;
	margin-top: 115px;
	left: 887px;
	background: transparent url("../images/counter.png?crc=208525079") no-repeat center center;
	background-size: cover;
}

#u456-4
{
	z-index: 139;
	width: 180px;
	min-height: 26px;
	background-color: transparent;
	font-size: 20px;
	line-height: 24px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 25px;
}

#u1023
{
	z-index: 5;
	width: 301px;
	height: 59px;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	position: relative;
	margin-right: -10000px;
	margin-top: 52px;
	color: #FFF;
	left: 121px;
	/* background: transparent url("../images/counter.png?crc=208525079") no-repeat center center; */
	background-size: cover;
}

#u292
{
	z-index: 6;
	width: 162px;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-bottom: 21px;
	position: relative;
	margin-right: -10000px;
	margin-top: 172px;
	left: 886px;
	background: transparent url("../images/counter.png?crc=208525079") no-repeat center center;
	background-size: contain;
}

#u490-4
{
	z-index: 159;
	width: 180px;
	min-height: 26px;
	background-color: transparent;
	font-size: 20px;
	line-height: 24px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 36px;
}

#u295
{
	z-index: 7;
	width: 163px;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-bottom: 19px;
	position: relative;
	margin-right: -10000px;
	margin-top: 231px;
	left: 886px;
	background: transparent url("../images/counter.png?crc=208525079") no-repeat center center;
	background-size: contain;
}

#u493-4
{
	z-index: 147;
	width: 180px;
	min-height: 26px;
	background-color: transparent;
	font-size: 20px;
	line-height: 24px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: 36px;
}

#u298
{
	z-index: 8;
	width: 162px;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-bottom: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 289px;
	left: 887px;
	background: transparent url("../images/counter.png?crc=208525079") no-repeat center center;
	background-size: contain;
}

#u496-4
{
	z-index: 151;
	width: 180px;
	min-height: 26px;
	background-color: transparent;
	font-size: 20px;
	line-height: 24px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 36px;
}

#buttonu193
{
	z-index: 9;
	width: 90px;
	height: 90px;
	border-color: #787878;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 137px;
	left: 132px;
	background: transparent url("../images/coin_1000.png?crc=417918981") no-repeat center center;
	background-size: contain;
}

#buttonu193:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 90px;
	height: 90px;
	min-height: 0px;
	margin: 137px -10000px 0px 0px;
	background: transparent url("../images/coin_1000-buttonu193-r-fr.png?crc=59431738") no-repeat center center;
	background-size: contain;
}

#buttonu193.ButtonSelected
{
	background-repeat: no-repeat;
	background-position: center center;
	width: 90px;
	height: 90px;
	min-height: 0px;
	margin: 137px -10000px 0px 0px;
	background-size: contain;
}

#buttonu194
{
	z-index: 10;
	width: 85px;
	height: 85px;
	border-color: #787878;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 220px;
	left: 132px;
	background: transparent url("../images/coin_500.png?crc=4278895268") no-repeat center center;
	background-size: contain;
}

#buttonu194:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 85px;
	height: 85px;
	min-height: 0px;
	margin: 220px -10000px 0px 0px;
	background: transparent url("../images/coin_500-buttonu194-r-fr.png?crc=55618842") no-repeat center center;
	background-size: contain;
}

#buttonu194.ButtonSelected
{
	background-repeat: no-repeat;
	background-position: center center;
	width: 85px;
	height: 85px;
	min-height: 0px;
	margin: 220px -10000px 0px 0px;
	background-size: contain;
}

#buttonu195
{
	z-index: 11;
	width: 90px;
	height: 77px;
	border-color: #787878;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 305px;
	left: 130px;
	background: transparent url("../images/coin_100.png?crc=344478258") no-repeat center center;
	background-size: contain;
}

#buttonu195:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 90px;
	height: 77px;
	min-height: 0px;
	margin: 305px -10000px 0px 0px;
	background: transparent url("../images/coin_100-buttonu195-r-fr.png?crc=3823370867") no-repeat center center;
	background-size: contain;
}

#buttonu195.ButtonSelected
{
	background-repeat: no-repeat;
	background-position: center center;
	width: 90px;
	height: 77px;
	min-height: 0px;
	margin: 305px -10000px 0px 0px;
	background-size: contain;
}

#buttonu196
{
	z-index: 12;
	width: 76px;
	height: 76px;
	border-color: #787878;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 382px;
	left: 135px;
	background: transparent url("../images/coin_50.png?crc=4242981802") no-repeat center center;
	background-size: contain;
}

#buttonu196:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 76px;
	height: 76px;
	min-height: 0px;
	margin: 382px -10000px 0px 0px;
	background: transparent url("../images/coin_50-buttonu196-r-fr.png?crc=3816626632") no-repeat center center;
	background-size: contain;
}

#buttonu196.ButtonSelected
{
	background-repeat: no-repeat;
	background-position: center center;
	width: 76px;
	height: 76px;
	min-height: 0px;
	margin: 382px -10000px 0px 0px;
	background-size: contain;
}

#buttonu254
{
	z-index: 13;
	width: 75px;
	height: 72px;
	border-color: #787878;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 460px;
	left: 135px;
	background: transparent url("../images/coin_10.png?crc=4189366740") no-repeat center center;
	background-size: contain;
}

#buttonu254:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 75px;
	height: 72px;
	min-height: 0px;
	margin: 460px -10000px 0px 0px;
	background: transparent url("../images/coin_10-buttonu254-r-fr.png?crc=4250172944") no-repeat center center;
	background-size: contain;
}

#buttonu254.ButtonSelected
{
	background-repeat: no-repeat;
	background-position: center center;
	width: 75px;
	height: 72px;
	min-height: 0px;
	margin: 460px -10000px 0px 0px;
	background-size: contain;
}

#buttonu394
{
	z-index: 14;
	width: 143px;
	height: 55px;
	border-color: #787878;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	border-radius: 10px;
	padding-bottom: 43px;
	position: relative;
	margin-right: -10000px;
	margin-top: 364px;
	left: 896px;
	background: transparent url("../images/black_coin-buttonu394-fr.png?crc=3966952934") no-repeat center center;
	background-size: contain;
}

#buttonu394:hover
{
	box-shadow: none;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 143px;
	height: 55px;
	min-height: 0px;
	margin: 364px -10000px 0px 0px;
	background: transparent url("../images/black_coin-buttonu394-r-fr.png?crc=82680714") no-repeat center center;
	background-size: contain;
}

#buttonu394.ButtonSelected
{
	box-shadow: none;
	background-repeat: no-repeat;
	background-position: center center;
	width: 143px;
	height: 55px;
	min-height: 0px;
	margin: 304px -10000px 0px 0px;
	background-size: contain;
}

#u395-4
{
	z-index: 15;
	width: 91px;
	min-height: 3px;
	background-color: transparent;
	font-size: 12px;
	letter-spacing: 1px;
	color: #FFFFFF;
	text-transform: uppercase;
	text-align: center;
	line-height: 14px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 41px;
	left: 26px;
}

#buttonu394:hover #u395-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 3px;
	width: 91px;
	margin: 41px -10000px 0px 0px;
}

#buttonu394.ButtonSelected #u395-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 3px;
	width: 91px;
	margin: 41px -10000px 0px 0px;
}

#buttonu394:hover #u395-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu408
{
	z-index: 19;
	width: 143px;
	height: 67px;
	border-color: #787878;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	border-radius: 10px;
	padding-bottom: 31px;
	position: relative;
	margin-right: -10000px;
	margin-top: 471px;
	left: 896px;
	background: transparent url("../images/red_coin-buttonu408-fr.png?crc=3770226742") no-repeat center center;
	background-size: contain;
}

#buttonu408:hover
{
	box-shadow: none;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 143px;
	height: 67px;
	min-height: 0px;
	margin: 471px -10000px 0px 0px;
	background: transparent url("../images/red_coin-buttonu408-r-fr.png?crc=3782546554") no-repeat center center;
	background-size: contain;
}

#buttonu408.ButtonSelected
{
	box-shadow: none;
	background-repeat: no-repeat;
	background-position: center center;
	width: 143px;
	height: 67px;
	min-height: 0px;
	margin: 411px -10000px 0px 0px;
	background-size: contain;
}

#u409-4
{
	z-index: 20;
	width: 119px;
	min-height: 23px;
	background-color: transparent;
	font-size: 12px;
	letter-spacing: 1px;
	color: #FFFFFF;
	text-transform: uppercase;
	text-align: center;
	line-height: 14px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 44px;
	left: 12px;
}

#buttonu408:hover #u409-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 119px;
	margin: 44px -10000px 0px 0px;
}

#buttonu408.ButtonSelected #u409-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 119px;
	margin: 44px -10000px 0px 0px;
}

#buttonu394.ButtonSelected #u395-4 p,#buttonu408:hover #u409-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u604
{
	z-index: 24;
	width: 87px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 582px;
	left: 140px;
}

#u625
{
	z-index: 26;
	width: 87px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 582px;
	left: 404px;
}

#u653
{
	z-index: 28;
	width: 87px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 582px;
	left: 756px;
}

#u611
{
	z-index: 30;
	width: 87px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 582px;
	left: 228px;
}

#u632
{
	z-index: 32;
	width: 87px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 582px;
	left: 492px;
}

#u660
{
	z-index: 34;
	width: 87px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 582px;
	left: 844px;
}

#u618
{
	z-index: 36;
	width: 87px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 582px;
	left: 316px;
}

#u646
{
	z-index: 38;
	width: 87px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 582px;
	left: 668px;
}

#u639
{
	z-index: 40;
	width: 87px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 582px;
	left: 580px;
}

#u667
{
	z-index: 42;
	width: 87px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 582px;
	left: 932px;
}

#u890-4
{
	z-index: 44;
	width: 65px;
	min-height: 24px;
	background-color: transparent;
	font-size: 18px;
	text-align: center;
	letter-spacing: 1px;
	color: #000000;
	line-height: 22px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 586px;
	left: 151px;
}

#u893-4
{
	z-index: 48;
	width: 65px;
	min-height: 24px;
	background-color: transparent;
	font-size: 18px;
	text-align: center;
	letter-spacing: 1px;
	color: #000000;
	line-height: 22px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 586px;
	left: 240px;
}

#u899-4
{
	z-index: 52;
	width: 65px;
	min-height: 24px;
	background-color: transparent;
	font-size: 18px;
	text-align: center;
	letter-spacing: 1px;
	color: #000000;
	line-height: 22px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 587px;
	left: 325px;
}

#u905-4
{
	z-index: 56;
	width: 65px;
	min-height: 24px;
	background-color: transparent;
	font-size: 18px;
	text-align: center;
	letter-spacing: 1px;
	color: #000000;
	line-height: 22px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 585px;
	left: 415px;
}

#u911-4
{
	z-index: 60;
	width: 65px;
	min-height: 24px;
	background-color: transparent;
	font-size: 18px;
	text-align: center;
	letter-spacing: 1px;
	color: #000000;
	line-height: 22px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 585px;
	left: 502px;
}

#u917-4
{
	z-index: 64;
	width: 65px;
	min-height: 24px;
	background-color: transparent;
	font-size: 18px;
	text-align: center;
	letter-spacing: 1px;
	color: #000000;
	line-height: 22px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 586px;
	left: 590px;
}

#u923-4
{
	z-index: 68;
	width: 65px;
	min-height: 24px;
	background-color: transparent;
	font-size: 18px;
	text-align: center;
	letter-spacing: 1px;
	color: #000000;
	line-height: 22px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 585px;
	left: 676px;
}

#u929-4
{
	z-index: 72;
	width: 65px;
	min-height: 24px;
	background-color: transparent;
	font-size: 18px;
	text-align: center;
	letter-spacing: 1px;
	color: #000000;
	line-height: 22px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 586px;
	left: 768px;
}

#u899-4:hover,#u929-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 65px;
	margin: 587px -10000px 0px 0px;
}

#u935-4
{
	z-index: 76;
	width: 65px;
	min-height: 24px;
	background-color: transparent;
	font-size: 18px;
	text-align: center;
	letter-spacing: 1px;
	color: #000000;
	line-height: 22px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 585px;
	left: 856px;
}

#u905-4:hover,#u911-4:hover,#u923-4:hover,#u935-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 65px;
	margin: 585px -10000px 0px 0px;
}

#u941-4
{
	z-index: 80;
	width: 65px;
	min-height: 24px;
	background-color: transparent;
	font-size: 18px;
	text-align: center;
	letter-spacing: 1px;
	color: #000000;
	line-height: 22px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 586px;
	left: 941px;
}

#u890-4:hover,#u893-4:hover,#u917-4:hover,#u941-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 65px;
	margin: 586px -10000px 0px 0px;
}

#u746-4
{
	padding-left: 370px;
	padding-right: 370px; 
	z-index: 84;
	font-weight: bold;
	color: #000;
	text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
	background-image: url("../images/counter.png?crc=208525079");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 40%;
	line-height: 34px !important;
	display: block;
	font-size: 42px;	position: relative;
	margin-right: -10000px;
	margin-top: 535px;
	align-content: center;
	text-align: center;
}

#u954
{
	z-index: 88;
	width: 939px;
	height: 78px;
	position: relative;
	margin-right: -10000px;
	margin-top: 622px;
	left: 110px;
}

.ie #u954
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u344
{
	z-index: 163;
	width: 419px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 79px;
	left: 373px;
}

#u384
{
	z-index: 165;
	width: 284px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 126px;
	left: 420px;
}

#u301
{
	z-index: 167;
	width: 592px;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-bottom: 151px;
	position: relative;
	margin-right: -10000px;
	margin-top: 154px;
	left: 284px;
	background: transparent url("../images/red_banner.png?crc=3984176938") no-repeat center center;
	background-size: contain;
}

#u301:active
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 552px;
	min-height: 0px;
	margin: 154px -10000px 0px 0px;
	background: transparent url("../images/red_banner_dull.png?crc=4284056163") no-repeat center center;
	background-size: contain;
}

#u1017-4
{
	z-index: 168;
	width: 80px;
	min-height: 85px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 104px;
	font-size: 100px;
	text-align: center;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 132px;
	left: 235px;
}
#message{
	margin-top: 20px;
	margin-left: 40px;
	font-size: 22px;
	font-weight: bold;
}
#u421
{
	z-index: 172;
	width: 24px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 53px;
	left: 547px;
}

#u1020-4
{
	z-index: 143;
	width: 211px;
	min-height: 41px;
	background-color: transparent;
	font-size: 20px;
	line-height: 24px;
	font-weight: bold;
	position: relative;
	top: 18px;
	text-align: center;
	left: 54px;
}

.css_verticalspacer .verticalspacer
{
	height: calc(100vh - 757px);
}

#buttonu957
{
	z-index: 89;
	width: 87px;
	height: 45px;
	border-color: #787878;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	border-radius: 10px;
	padding-bottom: 14px;
	position: relative;
	margin-right: -10000px;
	margin-top: -81px;
	left: 40px;
	background: transparent url("../images/red_coin-buttonu957-fr.gif") no-repeat center center;
	background-size: contain;
}

#buttonu957:hover
{
	box-shadow: none;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 87px;
	height: 45px;
	min-height: 0px;
	margin: -81px -10000px 0px 0px;
	background: transparent url("../images/red_coin-buttonu957-r-fr.png?crc=307183482") no-repeat center center;
	background-size: contain;
}

#buttonu957:active
{
	box-shadow: none;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 87px;
	height: 45px;
	min-height: 0px;
	margin: -81px -10000px 0px 0px;
	background: transparent url("../images/red_coin-buttonu957-m-fr.png?crc=239565934") no-repeat center center;
	background-size: contain;
}

#u958-4
{
	z-index: 90;
	width: 65px;
	min-height: 24px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	letter-spacing: 1px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: 11px;
}

#buttonu957:hover #u958-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 65px;
	margin: 21px -10000px 0px 0px;
}

#buttonu957:active #u958-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 65px;
	margin: 21px -10000px 0px 0px;
}

#buttonu408.ButtonSelected #u409-4 p,#u890-4:hover p,#u893-4:hover p,#u899-4:hover p,#u905-4:hover p,#u911-4:hover p,#u917-4:hover p,#u923-4:hover p,#u929-4:hover p,#u935-4:hover p,#u941-4:hover p,#buttonu957:hover #u958-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu957:active #u958-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu959
{
	z-index: 94;
	width: 87px;
	height: 45px;
	border-color: #787878;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	border-radius: 10px;
	padding-bottom: 14px;
	position: relative;
	margin-right: -10000px;
	margin-top: -81px;
	left: 127px;
	background: transparent url("../images/red_coin-buttonu957-fr.png?crc=4160469882") no-repeat center center;
	background-size: contain;
}

#buttonu959:hover
{
	box-shadow: none;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 87px;
	height: 45px;
	min-height: 0px;
	margin: -81px -10000px 0px 0px;
	background: transparent url("../images/red_coin-buttonu957-r-fr.png?crc=307183482") no-repeat center center;
	background-size: contain;
}

#buttonu959:active
{
	box-shadow: none;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 87px;
	height: 45px;
	min-height: 0px;
	margin: -81px -10000px 0px 0px;
	background: transparent url("../images/red_coin-buttonu957-m-fr.png?crc=239565934") no-repeat center center;
	background-size: contain;
}

#u960-4
{
	z-index: 95;
	width: 65px;
	min-height: 24px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	letter-spacing: 1px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: 11px;
}

#buttonu957.ButtonSelected #u958-4,#buttonu959:hover #u960-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 65px;
	margin: 21px -10000px 0px 0px;
}

#buttonu959:active #u960-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 65px;
	margin: 21px -10000px 0px 0px;
}

#buttonu957.ButtonSelected #u958-4 p,#buttonu959:hover #u960-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu959:active #u960-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu961
{
	z-index: 99;
	width: 87px;
	height: 45px;
	border-color: #787878;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	border-radius: 10px;
	padding-bottom: 14px;
	position: relative;
	margin-right: -10000px;
	margin-top: -81px;
	left: 215px;
	background: transparent url("../images/red_coin-buttonu957-fr.png?crc=4160469882") no-repeat center center;
	background-size: contain;
}

#buttonu961:hover
{
	box-shadow: none;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 87px;
	height: 45px;
	min-height: 0px;
	margin: -81px -10000px 0px 0px;
	background: transparent url("../images/red_coin-buttonu957-r-fr.png?crc=307183482") no-repeat center center;
	background-size: contain;
}

#buttonu961:active
{
	box-shadow: none;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 87px;
	height: 45px;
	min-height: 0px;
	margin: -81px -10000px 0px 0px;
	background: transparent url("../images/red_coin-buttonu957-m-fr.png?crc=239565934") no-repeat center center;
	background-size: contain;
}

#buttonu957.ButtonSelected,#buttonu959.ButtonSelected,#buttonu961.ButtonSelected
{
	box-shadow: none;
	background-repeat: no-repeat;
	background-position: center center;
	width: 87px;
	height: 45px;
	min-height: 0px;
	margin: -81px -10000px 0px 0px;
	background-size: contain;
}

#u962-4
{
	z-index: 100;
	width: 65px;
	min-height: 24px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	letter-spacing: 1px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: 11px;
}

#buttonu959.ButtonSelected #u960-4,#buttonu961:hover #u962-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 65px;
	margin: 21px -10000px 0px 0px;
}

#buttonu961:active #u962-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 65px;
	margin: 21px -10000px 0px 0px;
}

#buttonu959.ButtonSelected #u960-4 p,#buttonu961:hover #u962-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu961:active #u962-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu963
{
	z-index: 104;
	width: 87px;
	height: 45px;
	border-color: #787878;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	border-radius: 10px;
	padding-bottom: 14px;
	position: relative;
	margin-right: -10000px;
	margin-top: -80px;
	left: 302px;
	background: transparent url("../images/red_coin-buttonu957-fr.png?crc=4160469882") no-repeat center center;
	background-size: contain;
}

#buttonu963:hover
{
	box-shadow: none;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 87px;
	height: 45px;
	min-height: 0px;
	margin: -80px -10000px 0px 0px;
	background: transparent url("../images/red_coin-buttonu957-r-fr.png?crc=307183482") no-repeat center center;
	background-size: contain;
}

#buttonu963:active
{
	box-shadow: none;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 87px;
	height: 45px;
	min-height: 0px;
	margin: -80px -10000px 0px 0px;
	background: transparent url("../images/red_coin-buttonu957-m-fr.png?crc=239565934") no-repeat center center;
	background-size: contain;
}
#printableArea
{
visibility: hidden;}
#u964-4
{
	z-index: 105;
	width: 65px;
	min-height: 24px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	letter-spacing: 1px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: 11px;
}

#buttonu961.ButtonSelected #u962-4,#buttonu963:hover #u964-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 65px;
	margin: 21px -10000px 0px 0px;
}

#buttonu963:active #u964-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 65px;
	margin: 21px -10000px 0px 0px;
}

#buttonu961.ButtonSelected #u962-4 p,#buttonu963:hover #u964-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu963:active #u964-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu965
{
	z-index: 109;
	width: 87px;
	height: 45px;
	border-color: #787878;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	border-radius: 10px;
	padding-bottom: 14px;
	position: relative;
	margin-right: -10000px;
	margin-top: -80px;
	left: 389px;
	background: transparent url("../images/red_coin-buttonu957-fr.png?crc=4160469882") no-repeat center center;
	background-size: contain;
}

#buttonu965:hover
{
	box-shadow: none;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 87px;
	height: 45px;
	min-height: 0px;
	margin: -80px -10000px 0px 0px;
	background: transparent url("../images/red_coin-buttonu957-r-fr.png?crc=307183482") no-repeat center center;
	background-size: contain;
}

#buttonu965:active
{
	box-shadow: none;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 87px;
	height: 45px;
	min-height: 0px;
	margin: -80px -10000px 0px 0px;
	background: transparent url("../images/red_coin-buttonu957-m-fr.png?crc=239565934") no-repeat center center;
	background-size: contain;
}

#buttonu963.ButtonSelected,#buttonu965.ButtonSelected
{
	box-shadow: none;
	background-repeat: no-repeat;
	background-position: center center;
	width: 87px;
	height: 45px;
	min-height: 0px;
	margin: -80px -10000px 0px 0px;
	background-size: contain;
}

#u966-4
{
	z-index: 110;
	width: 65px;
	min-height: 24px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	letter-spacing: 1px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: 11px;
}

#buttonu963.ButtonSelected #u964-4,#buttonu965:hover #u966-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 65px;
	margin: 21px -10000px 0px 0px;
}

#buttonu965:active #u966-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 65px;
	margin: 21px -10000px 0px 0px;
}

#buttonu963.ButtonSelected #u964-4 p,#buttonu965:hover #u966-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu965:active #u966-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#pbuttonu967
{
	z-index: 114;
	width: 0.01px;
	margin-right: -10000px;
	margin-top: -82px;
	margin-left: 450px;
}

#buttonu967
{
	z-index: 114;
	width: 87px;
	height: 45px;
	border-color: #787878;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	border-radius: 10px;
	padding-bottom: 14px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	background: transparent url("../images/red_coin-buttonu957-fr.png?crc=4160469882") no-repeat center center;
	background-size: contain;
	left: 28px; 
}

#buttonu967:hover
{
	box-shadow: none;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 87px;
	height: 45px;
	min-height: 0px;
	margin: 1px -10000px 0px 0px;
	background: transparent url("../images/red_coin-buttonu957-r-fr.png?crc=307183482") no-repeat center center;
	background-size: contain;
}

#buttonu967:active
{
	box-shadow: none;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 87px;
	height: 45px;
	min-height: 0px;
	margin: 1px -10000px 0px 0px;
	background: transparent url("../images/red_coin-buttonu957-m-fr.png?crc=239565934") no-repeat center center;
	background-size: contain;
}

#buttonu967.ButtonSelected
{
	box-shadow: none;
	background-repeat: no-repeat;
	background-position: center center;
	width: 87px;
	height: 45px;
	min-height: 0px;
	margin: 1px -10000px 0px 0px;
	background-size: contain;
}

#u968-4
{
	z-index: 115;
	width: 65px;
	min-height: 24px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	letter-spacing: 1px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: 11px;
}

#buttonu965.ButtonSelected #u966-4,#buttonu967:hover #u968-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 65px;
	margin: 21px -10000px 0px 0px;
}

#buttonu967:active #u968-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 65px;
	margin: 21px -10000px 0px 0px;
}

#buttonu965.ButtonSelected #u966-4 p,#buttonu967:hover #u968-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu967:active #u968-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu969
{
	z-index: 119;
	width: 87px;
	height: 45px;
	border-color: #787878;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	border-radius: 10px;
	padding-bottom: 14px;
	position: relative;
	margin-right: -10000px;
	left: 112px;
	background: transparent url("../images/red_coin-buttonu957-fr.png?crc=4160469882") no-repeat center center;
	background-size: contain;
}

#buttonu969:hover
{
	box-shadow: none;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 87px;
	height: 45px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/red_coin-buttonu957-r-fr.png?crc=307183482") no-repeat center center;
	background-size: contain;
}

#buttonu969:active
{
	box-shadow: none;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 87px;
	height: 45px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/red_coin-buttonu957-m-fr.png?crc=239565934") no-repeat center center;
	background-size: contain;
}

#u970-4
{
	z-index: 120;
	width: 65px;
	min-height: 24px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	letter-spacing: 1px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: 11px;
}

#buttonu967.ButtonSelected #u968-4,#buttonu969:hover #u970-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 65px;
	margin: 21px -10000px 0px 0px;
}

#buttonu969:active #u970-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 65px;
	margin: 21px -10000px 0px 0px;
}

#buttonu967.ButtonSelected #u968-4 p,#buttonu969:hover #u970-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu969:active #u970-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu971
{
	z-index: 124;
	width: 87px;
	height: 45px;
	border-color: #787878;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	border-radius: 10px;
	padding-bottom: 14px;
	position: relative;
	margin-right: -10000px;
	margin-top: -82px;
	left: 655px;
	background: transparent url("../images/red_coin-buttonu957-fr.png?crc=4160469882") no-repeat center center;
	background-size: contain;
}

#buttonu971:hover
{
	box-shadow: none;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 87px;
	height: 45px;
	min-height: 0px;
	margin: -82px -10000px 0px 0px;
	background: transparent url("../images/red_coin-buttonu957-r-fr.png?crc=307183482") no-repeat center center;
	background-size: contain;
}

#buttonu971:active
{
	box-shadow: none;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 87px;
	height: 45px;
	min-height: 0px;
	margin: -82px -10000px 0px 0px;
	background: transparent url("../images/red_coin-buttonu957-m-fr.png?crc=239565934") no-repeat center center;
	background-size: contain;
}

#buttonu971.ButtonSelected
{
	box-shadow: none;
	background-repeat: no-repeat;
	background-position: center center;
	width: 87px;
	height: 45px;
	min-height: 0px;
	margin: -82px -10000px 0px 0px;
	background-size: contain;
}

#u972-4
{
	z-index: 125;
	width: 65px;
	min-height: 24px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	letter-spacing: 1px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: 11px;
}

#buttonu969.ButtonSelected #u970-4,#buttonu971:hover #u972-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 65px;
	margin: 21px -10000px 0px 0px;
}

#buttonu971:active #u972-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 65px;
	margin: 21px -10000px 0px 0px;
}

#buttonu969.ButtonSelected #u970-4 p,#buttonu971:hover #u972-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu971:active #u972-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#pbuttonu973
{
	z-index: 129;
	width: 0.01px;
	margin-right: -10000px;
	margin-top: -81px;
	margin-left: 710px;
}

#buttonu973
{
	z-index: 129;
	width: 87px;
	height: 45px;
	border-color: #787878;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	border-radius: 10px;
	padding-bottom: 14px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/red_coin-buttonu957-fr.png?crc=4160469882") no-repeat center center;
	background-size: contain;
	left: 32px;
}

#buttonu973:hover
{
	box-shadow: none;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 87px;
	height: 45px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/red_coin-buttonu957-r-fr.png?crc=307183482") no-repeat center center;
	background-size: contain;
}

#buttonu973:active
{
	box-shadow: none;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 87px;
	height: 45px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/red_coin-buttonu957-m-fr.png?crc=239565934") no-repeat center center;
	background-size: contain;
}

#u974-4
{
	z-index: 130;
	width: 65px;
	min-height: 24px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	letter-spacing: 1px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: 11px;
}

#buttonu971.ButtonSelected #u972-4,#buttonu973:hover #u974-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 65px;
	margin: 21px -10000px 0px 0px;
}

#buttonu973:active #u974-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 65px;
	margin: 21px -10000px 0px 0px;
}

#buttonu971.ButtonSelected #u972-4 p,#buttonu973:hover #u974-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu973:active #u974-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu975
{
	z-index: 134;
	width: 87px;
	height: 45px;
	border-color: #787878;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	border-radius: 10px;
	padding-bottom: 14px;
	position: relative;
	margin-right: -10000px;
	left: 119px;
	background: transparent url("../images/red_coin-buttonu957-fr.png?crc=4160469882") no-repeat center center;
	background-size: contain;
}

#buttonu975:hover
{
	box-shadow: none;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 87px;
	height: 45px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/red_coin-buttonu957-r-fr.png?crc=307183482") no-repeat center center;
	background-size: contain;
}

#buttonu975:active
{
	box-shadow: none;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 87px;
	height: 45px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/red_coin-buttonu957-m-fr.png?crc=239565934") no-repeat center center;
	background-size: contain;
}

#buttonu193:hover::before,#buttonu193.ButtonSelected::before,#buttonu194:hover::before,#buttonu194.ButtonSelected::before,#buttonu195:hover::before,#buttonu195.ButtonSelected::before,#buttonu196:hover::before,#buttonu196.ButtonSelected::before,#buttonu254:hover::before,#buttonu254.ButtonSelected::before,#buttonu957:active::before,#buttonu959:active::before,#buttonu961:active::before,#buttonu963:active::before,#buttonu965:active::before,#buttonu967:active::before,#buttonu969:active::before,#buttonu971:active::before,#buttonu973:active::before,#buttonu975:active::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	border-radius: 10px;
	box-shadow: none;
}

#buttonu969.ButtonSelected,#buttonu973.ButtonSelected,#buttonu975.ButtonSelected
{
	box-shadow: none;
	background-repeat: no-repeat;
	background-position: center center;
	width: 87px;
	height: 45px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background-size: contain;
}

#u976-4
{
	z-index: 135;
	width: 65px;
	min-height: 24px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	letter-spacing: 1px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: 11px;
}

#buttonu973.ButtonSelected #u974-4,#buttonu975:hover #u976-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 65px;
	margin: 21px -10000px 0px 0px;
}

#buttonu975:active #u976-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 65px;
	margin: 21px -10000px 0px 0px;
}

#buttonu975.ButtonSelected #u976-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 65px;
	margin: 21px -10000px 0px 0px;
}

#buttonu973.ButtonSelected #u974-4 p,#buttonu975:hover #u976-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu975:active #u976-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu975.ButtonSelected #u976-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

.html
{
	background: #FFFFFF url("../images/back.jpg?crc=4044069802") no-repeat center center scroll;
	background-size: cover;
}

body
{
	position: relative;
	min-width: 960px;
}

.verticalspacer
{
	min-height: 1px;
}
#invoice-POS{
    box-shadow: 0 0 1in -0.25in rgba(0, 0, 0, 0.5);
    padding:2mm;
    margin: 0 auto;
    width: 44mm;
	background: #FFF;
    
    
  ::selection {background: #f31544; color: #FFF;}
  ::moz-selection {background: #f31544; color: #FFF;}
  h1{
    font-size: 1.5em;
    color: #222;
  }
  h2{font-size: .9em;}
  h3{
    font-size: 1.2em;
    font-weight: 300;
    line-height: 2em;
  }
  p{
    font-size: .7em;
    color: #666;
    line-height: 1.2em;
  }
   
  #top, #mid,#bot{ /* Targets all id with 'col-' */
    border-bottom: 1px solid #EEE;
  }
  
  #top{min-height: 100px;}
  #mid{min-height: 80px;} 
  #bot{ min-height: 50px;}
  
  #top .logo{
    //float: left;
      height: 60px;
      width: 60px;
      background: url(http://michaeltruong.ca/images/logo1.png) no-repeat;
      background-size: 60px 60px;
  }
  .clientlogo{
    float: left;
      height: 60px;
      width: 60px;
      background: url(http://michaeltruong.ca/images/client.jpg) no-repeat;
      background-size: 60px 60px;
    border-radius: 50px;
  }
  .info{
    display: block;
    //float:left;
    margin-left: 0;
  }
  .title{
    float: right;
  }
  .title p{text-align: right;} 
  table{
    width: 100%;
    border-collapse: collapse;
  }
  td{
    //padding: 5px 0 5px 15px;
    //border: 1px solid #EEE
  }
  .tabletitle{
    //padding: 5px;
    font-size: .5em;
    background: #EEE;
  }
  .service{border-bottom: 1px solid #EEE;}
  .item{width: 24mm;}
  .itemtext{font-size: .5em;}
  
  #legalcopy{
    margin-top: 5mm;
  }
  
    
    
  }
